package page

templ Home(indexUrl string) {
    <span 
        hx-get={indexUrl}
        hx-trigger="load"
        hx-replace-url="false"
        hx-push-url="false"
        hx-swap="innerHTML"
        hx-target="#page" />
}