package page

import "net/url"

templ Home(indexUrl string) {
    <span 
        hx-get={url.JoinPath(indexUrl, "index.html")}
        hx-trigger="load"
        hx-replace-url="false"
        hx-push-url="false"
        hx-swap="innerHTML"
        hx-target="#page" />
}