/***************************************
VARS + UTILITIES 
***************************************/
body {
    --bg-light: white;

    --gap-tiny: 4px;
    --gap-small: 8px;
    --gap-medium: 16px;
    --gap-large: 28px;
}

.util--dim {
    filter: opacity(75%);
}


/***************************************
BASIC ELEM OVERRIDE
***************************************/
* {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-family: system-ui;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    padding: 0px clamp(20px, 30%, 140px);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4, h5, h6 {
    font-size: 1.125rem;
}

ul {
    list-style-type: none;;
}

/***************************************
SITE
***************************************/
.site-content {
    padding: 28px 0;
}

.site-nav {
    justify-content: left;
    display: flex;
}

.site-nav > ul {
    display: flex;
    gap: 8px;
    list-style-type: none;
}

.site-nav > ul > li {
    padding: 8px;
}

.site-nav > ul > li > a:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor:pointer;
}

/***************************************
BADGE
***************************************/
.badges {
    display: flex;
    gap: var(--gap-tiny);
}

.badge-item__link {
    font-size: 0.75rem;
    padding: 2px 4px;
    border: 1px solid black;
    background: var(--bg-light);
    transition: filter 0.25s;
    filter: none;
    color: black;
    text-decoration: none;
}
.badge-item__link:hover {
    border: 1px solid var(--bg-light);
    transition: filter 0.25s;
    cursor: pointer;
    filter: invert(100%);
}

/***************************************
A layout inspired from Medium/Substack explore page
***************************************/
.explore-layout {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--gap-medium)
}

.explore-layout__left {
    flex: 1;
}

.explore-layout__right {
    flex: 4;

    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.list-entry-component {
    padding: 8px 0px;
    display: flex;
    gap: var(--gap-large);
    align-items:center;
}

.list-entry-component__thumbnail { 
    flex: 1;
    height: 120px;
    aspect-ratio: 4 / 3;
}

.list-entry-component__thumbnail > img {
    width: 100%;
    height: 100%;
}

.list-entry-component__data {
    flex: 3;
}

.list-entry-component__delimiter {
    margin: 4px 0px;
    border-bottom: 1px solid black;
}

/***************************************
Layout for viewing certain item
***************************************/
.specification-layout {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}

.specification-layout-top {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

.specification-layout-top__thumbnail {
    flex: 1;
    max-height: 360px;
}

.specification-layout-top__thumbnail > img {
    width: 100%;
    max-height: inherit;
}

.specification-layout-bottom {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    gap: var(--gap-medium);
}

.specification-layout-bottom--left {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    flex: 1;
}

.specification-layout-bottom--left:focus {
    background: red;
}

.specification-layout-bottom--right {
    position: relative;
    flex: 4;
}

/***************************************
ETC
***************************************/
.project-navigation-wrapper {
    flex: 1;
}

.project-navigation,
.article-navigation {
    height: fit-content;
    top: 16px;
    position: sticky;
}

.project-links,
.project-navigation,
.article-navigation {
    display: flex;
    flex-direction: column;
    gap: var(--gap-tiny);
}

.articles__tags-header,
.projects__tags-header,
.project-navigation__header,
.project-links__header,
.article-navigation__header {
    font-size: 1.2rem;
}

.project-links > a,
.project-navigation > a,
.article-navigation > a {
    display: block;
    text-decoration: none;
    color: inherit;
}
.project-links > a:hover,
.project-navigation > a:hover,
.article-navigation > a:hover {
    text-decoration: underline;
}

.project-header,
.article-header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-tiny);
}
.article-header__serie-and-timestamp {
    display: flex;
    gap: var(--gap-tiny);
}

.article-content {
    display: flex;
    gap: var(--gap-large);
}

.project-content,
.project-content *,
.article-content,
.article-content * {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

.projects-entry,
.articles-entry {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.article-entry__serie-and-timestamp,
.articles-entry__serie-and-timestamp {
    display: flex;
    gap: 4px;
}

.article-entry__serie,
.articles-entry__serie {
    display: flex;
    gap: 1ch;
}

.articles-entry__serie-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.projects-entry__title,
.articles-entry__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.articles__tags > ul,
.projects__tags > ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-tiny);
    list-style-type: none;

}

.projects__tags > ul > li > a:hover,
.articles__tags > ul > li > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.projects__exploration,
.articles__exploration {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}