/***************************************
VARS + BASIC ELEM OVERRIDE
***************************************/
:root[data-site-theme="light"] {
    --bg-color: white;
    --color-primary: black;
    --color-primary-sw1: rgb(39, 39, 39);
    --color-secondary: black;
    --color-info : rgb(65, 97, 255);
    --color-attention : yellow;
    --color-warning: rgb(246, 72, 118);

    /* ICON NEEDS
    The values below are based on 16x16 "grid" 

    btw, Multiline value broke the CSS highlighter :/
    https://github.com/microsoft/vscode-css/pull/30 */
    --icon-theme-d: path( "M 8,0 \ Q 16,0 16,8 \ Q 16,16 8,16 \ Q 0,16 0,8 \ Q 0,0 8,0");

}
:root[data-site-theme="dark"] {
    --bg-color: rgb(0, 2, 17);
    --color-primary: rgb(223, 235, 248);
    --color-primary-sw1: rgb(154, 171, 223);
    --color-secondary: rgb(255, 220, 143);
    --color-info : rgb(65, 97, 255);
    --color-attention: var(var(--color-secondary));
    --color-warning: rgb(246, 72, 118);

    /* ICON NEEDS
    The values below are based on 16x16 "grid" 

    btw, Multiline value broke the CSS highlighter :/
    https://github.com/microsoft/vscode-css/pull/30 */
    --icon-theme-d: path( "M 8,0 \ Q 8,8 16,8 \ Q 8,8 8,16 \ Q 8,8 0,8 \ Q 8,8 8,0");
}
:root {
    background-color: var(--bg-color);
    padding: 0px clamp(40px, 8%, 140px);

    --col-transparent: rgba(0, 0, 0, 0);
    --gap-tiny: 4px;
    --gap-small: 8px;
    --gap-medium: 16px;
    --gap-large: 28px;

    /* ICON NEEDS
    The values below are based on 16x16 "grid" 

    btw, Multiline value broke the CSS highlighter :/
    https://github.com/microsoft/vscode-css/pull/30 */
    --icon-g-stroke: var(--color-primary);
}
body {
    position: relative;
    height: fit-content;
}
*, *::after, *::before {
    color: var(--color-primary-sw1);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-family: "lexend", system-ui;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.333s;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:hover {
    cursor:pointer;
}
p {
    color: var(--color-primary-sw1);
}
button {
    border: 0px solid black;
    background: var(--col-transparent);
}

/* ====================
    Layouts (lyt)
==================== */
.lyt__1x2 { /* 1 row, 2 columns */
    display: flex;
    gap: var(--gap-small);
}
.lyt__1x2 > *:nth-child(n+3) {
    display: none;
}
.lyt__1x2--1-3 > *:nth-child(1) { /* modifier: size (1fr, 3fr) */
    flex: 1
}
.lyt__1x2--1-3 > *:nth-child(2) {
    flex: 3
}
.lyt__1x2--1-1 > * { /* mod: size (1fr, 1fr) */
    flex: 1
}



/* ====================
    Components (cmp)
==================== */
.cmp__image {
    width: 100%;
}
.cmp__image > img {
    width: 100%;
    aspect-ratio: 4 / 3;
}



.cmp__tab {
    width: 100%;
    min-width: 0; /* Lets the flex item to not justify this element size so that they won't overflow*/
}
.cmp__tab-headers {
    width: 100%;
    display: flex;
    overflow: auto;
}
.cmp__tab-headers::-webkit-scrollbar {
    display: none;
}
.cmp__tab-headers > button {
    flex: 1 1 auto;
    padding: 4px 8px;
    border: 1px solid var(--color-primary);
}
.cmp__tab-headers > button:hover {
    filter: brightness(105%);
    cursor: pointer;
}



.cmp__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.cmp__list-delimiter {
    margin: 4px 0px;
    border-bottom: 1px solid var(--color-primary);
}


.cmp__sticky {
    height: 100%;
}
.cmp__sticky-elem {
    position: sticky;
    top: 0px;
}



.cmp__badge-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-small);
}


.cmp__icon {
    cursor: pointer;
}
.cmp__icon > * {
    stroke: var(--color-primary-sw1);
    transition: 0.3s stroke;
}
.cmp__icon:hover > * {
    stroke: var(--color-secondary);
}
.cmp__icon-search > *{
    transform: scale(1);
    transition: 0.2s transform;
    transition-timing-function: ease-out;
}
.cmp__icon-search > *:nth-child(1) {
    transition-delay: 0.1s;
}
.cmp__icon-search:hover > * {
    transform: scale(1.1);
}



/* ====================
    Utilities (u)
==================== */
h1, .u__h--1,
h2, .u__h--2,
h3, .u__h--3,
h4, .u__h--4,
h5, .u__h--5,
h6, .u__h--6 {
    color: var(--color-primary);
    font-weight: bold;
}
h1, .u__h--1 {
    font-size: 2rem;
}
h2, .u__h--2 {
    font-size: 1.75rem;
}
h3, .u__h--3 {
    font-size: 1.5rem;
}
h4, .u__h--4,
h5, .u__h--5 {
    font-size: 1.25rem;
}



.u__dim { opacity: 75%; }
.u__active-on-hover:hover {
    color: var(--color-secondary);
}



/* ====================
    Site content based
(May contain overrides)
==================== */
.specification .tag-badge-list__tag--special,
.exploration .tag-badge-list__tag--special {
    background: var(--color-primary-sw1);
    color: var(--bg-color)
}



.exploration__entry-aside,
.specification__aside {
    display: flex;
    gap: var(--gap-tiny);
    flex-wrap: wrap;
}



.serie__content-title > a:hover,
.specification__extra > a:hover,
.exploration__entry-title > a:hover {
    color: var(--color-secondary);
}



.serie__content-title,
.exploration__entry-title {
    display: flex;
    gap: var(--gap-medium);
    align-items: center;
}
.serie__content-entry--new > .serie__content-title::after,
.serie__content-entry--updated > .serie__content-title::after,
.exploration__entry--new > .exploration__entry-title::after,
.exploration__entry--updated > .exploration__entry-title::after {
    font-size: 0.8rem;
    background: var(--color-secondary);
    color: var(--bg-color);
    padding: 0px var(--gap-small);
}
.serie__content-entry--new > .serie__content-title::after,
.exploration__entry--new > .exploration__entry-title::after {
    content: "New!";
}
.serie__content-entry--updated > .serie__content-title::after,
.exploration__entry--updated > .exploration__entry-title::after {
    content: "Update!";
}



.exploration {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: var(--gap-large);
}
.exploration > *{
    min-width: 240px;
}
.exploration__entries {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium)
}
.exploration__entry {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.exploration__tools {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}
.exploration__search {
    display: flex;
    flex-direction: column;
    gap: var(--gap-tiny);
}
.exploration__search-alternative a,
.exploration__search-alternative p {
    font-size: 0.875rem;
}
.exploration__search-alternative a {
    text-decoration: underline;
}
.exploration__search-input {
    display: flex;
    border-bottom: 1px solid var(--color-primary-sw1);
}
.exploration__search-input:focus-within {
    border-bottom: 1px solid var(--color-secondary);
}
.exploration__search-input > input {
    flex: 1;
    border-width: 0px 0px 0px 0px;
    outline: none;
    padding: var(--gap-tiny) 0px var(--gap-tiny) var(--gap-tiny);
    background-color: var(--bg-color);
}
.exploration__search-input > button {
    border: 0px solid white;
    background-color: var(--col-transparent);
}
.exploration__entries > .cmp__list-delimiter {
    border-bottom: 0px;
    padding: var(--gap-small) 0px;
}
.exploration__expand {
    display: flex;
    justify-content: center;
}
.exploration__expand > button{
    background: var(--bg-color);
    color: var(--color-primary);
    width: 100%;
    border: 1px solid var(--color-primary-sw1);
    padding: var(--gap-tiny) var(--gap-small);
}
.exploration__expand > button:hover {
    cursor: pointer;
    filter: invert(100%);
}
.exploration__expand--finish > button{
    pointer-events: none;
}
.exploration__highlight {
    top: calc(3* var(--gap-large));
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.exploration__highlight-entries {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}
.exploration__highlight-entries > * {
    font-size: 0.875rem;
}
.exploration__highlight-entries > *:hover{
    color: var(--color-secondary);
    cursor: pointer;
}



.specification {
    display: flex;
    flex-direction: row-reverse;
    gap: calc(2 * var(--gap-large));
}
.specification__content-header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.specification__outline {
    top: calc(3* var(--gap-large));
    width: 100%;
}
.specification__outline > nav ul {
    width: 100%;
    font-size: 1rem;
}
.specification__outline > nav ul ul {
    font-size: 0.93em;
    margin-left: var(--gap-medium);
}
.specification__outline ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.specification__outline li{
    font-size: inherit;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.specification__outline a {
    opacity: 70%;
    line-height: 1.1rem;
    font-size: inherit;
}
.specification__outline a:hover {
    opacity: 100%;
    color: var(--color-primary)
}
.specification__outline .specification__outline--active {
    opacity: 100%;
    color: var(--color-secondary);
}
.specification__outline,
.specification__content,
.specification__content > *:nth-child(n+2) {
    display: flex;
    flex-direction: column;
}
.specification__content {
    min-width: 0; /* just continuin' the cycle so the children could overflow properly*/
    gap: var(--gap-large);
}
.specification__content > *:nth-child(n+2){
    gap: var(--gap-medium);
}
.specification__extras {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}
.specification__extra {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.specification__content-body {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    min-width: 0;
}
.specification__content-body a {
    color: var(--color-secondary);
}
.specification__content-body ol,
.specification__content-body ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.specification__content-body li {
    list-style: square;
    list-style-position: inside;
}
.specification__content blockquote {
    background: rgba(0, 0, 0, 60%);
    padding: var(--gap-medium);
}
.specification__content .blockquote--info {
    border-left: var(--gap-small) solid var(--color-info);
}
.specification__content .blockquote--attention {
    border-left: var(--gap-small) solid var(--color-secondary);
}
.specification__content .blockquote--warning {
    border-left: var(--gap-small) solid var(--color-warning);
}
.specification__content-body .codeblock {
    position: relative;
}
.specification__content-body .codeblock__extras {
    padding: var(--gap-tiny) var(--gap-small);
    background: var(--bg-color);
    position: absolute;
    top: var(--gap-small);
    right: var(--gap-small);
    border: 1px solid var(--color-primary-sw1);
    font-size: 0.875rem;
}
.specification__content-body .codeblock__extras:hover {
    filter: invert(100%);
    cursor: pointer;
}
.specification__content-body .codeblock__code {
    max-width: 100%;
    width: 100%;
    background: black;
    padding: var(--gap-medium);
    display: block;

    overflow-x: scroll;
    min-width: 0;
}
.specification__content-body .codeblock__code code {
    font-family: "SUSE Mono", system-ui;
}
.specification__content-body .codeblock__code::-webkit-scrollbar {
    height: var(--gap-tiny);
}
.specification__content-body .codeblock__code::-webkit-scrollbar-thumb {
    background: var(--col-transparent);
}
.specification__content-body:hover .codeblock__code::-webkit-scrollbar-thumb {
    background: var(--color-primary-sw1);
}


.tag-badge-list__tag--normal,
.tag-badge-list__tag {
    padding: 2px 4px;
    border: 1px solid var(--color-primary-sw1);
    background: var(--bg-color);
    transition: all 0.25s;
}
.tag-badge-list__tag--normal:hover,
.tag-badge-list__tag:hover {
    border: 1px solid var(--color-secondary);
    background: var(--color-secondary);
    color: var(--bg-color);
    transition: all 0.25s;
    cursor: pointer;
}
.tag-badge-list__tag {
    font-size: 0.75rem;
}
.tag-badge-list__tag--normal {
    font-size: 1;
}



.serie {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}
.serie header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--gap-large);
    flex-wrap: wrap;
}
.serie header > * {
    min-width: 320px;
}
.serie__header-text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}
.serie__thumbnail > img {
    height: 100%;
    object-fit: cover;
}
.serie__contents {
    flex-wrap: wrap;
    gap: var(--gap-large);
}
.serie__content {
    min-width: 240px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}
.serie__content-heading {
    width: fit-content;
}
.serie__content-heading::after {
    content:"";
    position: relative;
    left: 0px;
    right: 0px;
    height: 2px;
    background: var(--color-secondary);
}
.serie__content-entry {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.serie__content > .cmp__list .cmp__list-delimiter {
    border: 0px solid black;
    padding-bottom: var(--gap-small);
}
.serie__stats {
    display: flex;
    gap: var(--gap-medium);
}



.tagList {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}
.tagList__entry {
    gap: var(--gap-small);
    align-items: center;
}
.tagList__entry > *:nth-child(1) {
    height: inherit;
    min-width: 5ch;
    align-self: stretch;
    border-right: 1px solid var(--color-primary-sw1);
}
.tagList__entry-group {
    top: calc(2 * var(--gap-large));
}
.tagList__entry-items {
    display: flex;
}



.site__topbar {
    z-index: 10000;
    position: sticky;
    top: 0;
    left: 0;
    padding: var(--gap-medium) 0px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background: var(--bg-color);
}
.site__content {
    padding: 28px 0px;
}
.site__nav {
    display: flex;
    align-items: center;
    gap: var(--gap-large);
    list-style-type: none;
}
.site__nav > li > a {
    color: var(--color-primary);
}
.site__nav > li > a:hover {
    color: var(--color-secondary);
}
.site__extra {
    display: flex;
    align-items: center;
    gap: var(--gap-medium);
}
.site__theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.site__theme-icon {
    background: var(--col-transparent);
    height: 24px;
    aspect-ratio: 1/1;
    overflow: visible;
}
.site__theme-icon:hover {
    cursor: pointer;
}
.site__theme-icon > path {
    transition: d 0.5s;
    d: var(--icon-theme-d);
    fill: var(--col-transparent);
    stroke: var(--icon-g-stroke);
    stroke-width: 0.0875rem;
}



.home__art {
    height: 240px;
}
.home__art > line {
    stroke: rgb(from var(--color-primary-sw1) r g b / 80%);
    stroke-linecap:square;
    stroke-dasharray: calc(100% + 1px);
    stroke-dashoffset: 100%;
}
.home__art > line:nth-child(3n) {
    animation: 
        art__intro--1 1.5s forwards ease-out,
        art__intro--2 1.5s forwards;
}
.home__art > line:nth-child(3n + 2) {
    animation: 
        art__intro--1 1.5s forwards ease-out 0.1s,
        art__intro--2 1.5s forwards;
}
.home__art > line:nth-child(3n + 1) {
    animation: 
        art__intro--1 1.5s forwards ease-out 0.2s,
        art__intro--2 1.5s forwards;
}

@keyframes art__intro--1 {
    0% { stroke-dashoffset: 100%; }
    100% { stroke-dashoffset: 0%; }
}
@keyframes art__intro--2 {
    0% { stroke-width: 0px; }
    100% { stroke-width: 5px; }
}


.error {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error > * {
    text-align: center;
}
.error__code {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 8rem;
}
.error__message {
    font-size: 2rem;
}
.error__additional-message {
    opacity: 50%;
    font-style: italic;
    font-size: 0.875rem;
}

/* Third party */
:root[data-site-theme="dark"] .shiki,
:root[data-site-theme="dark"] .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}
.shiki .line > * {
    font-family: "SUSE Mono";
}