/***************************************
VARS + BASIC ELEM OVERRIDE
***************************************/
:root[data-site-theme="light"] {
    --bg-color: white;
    --primary-color: black;
    --accent-color: grey;

}
:root[data-site-theme="dark"] {
    --bg-color: black;
    --primary-color: white;
    --secondary-color: grey;

    --theme-button-transform: translate(100%);
}
:root {
    color: var(--primary-color);
    background-color: var(--bg-color);
    padding: 0px clamp(40px, 8%, 140px);

    --col-transparent: rgba(0, 0, 0, 0);
    --gap-tiny: 4px;
    --gap-small: 8px;
    --gap-medium: 16px;
    --gap-large: 28px;
}
body {
    position: relative;
    height: fit-content;
}
* {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-family: system-ui;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--primary-color);
}

/* ====================
    Layouts (lyt)
==================== */
.lyt__1x2 { /* 1 row, 2 columns */
    display: flex;
    gap: var(--gap-small);
}
.lyt__1x2 > *:nth-child(n+3) {
    display: none;
}
.lyt__1x2--1-3 > *:nth-child(1) { /* modifier: size (1fr, 3fr) */
    flex: 1
}
.lyt__1x2--1-3 > *:nth-child(2) {
    flex: 3
}
.lyt__1x2--1-1 > * { /* mod: size (1fr, 1fr) */
    flex: 1
}



/* ====================
    Components (cmp)
==================== */
.cmp__image {
    width: 100%;
}
.cmp__image > img {
    width: 100%;
    aspect-ratio: 4 / 3;
}



.cmp__tab {
    width: 100%;
    min-width: 0; /* Lets the flex item to not justify this element size so that they won't overflow*/
}
.cmp__tab-headers {
    width: 100%;
    display: flex;
    overflow: auto;
}
.cmp__tab-headers::-webkit-scrollbar {
    display: none;
}
.cmp__tab-headers > button {
    flex: 1 1 auto;
    padding: 4px 8px;
    border: 1px solid var(--primary-color);
}
.cmp__tab-headers > button:hover {
    filter: brightness(105%);
    cursor: pointer;
}



.cmp__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.cmp__list-delimiter {
    margin: 4px 0px;
    border-bottom: 1px solid var(--primary-color);
}


.cmp__sticky {
    height: 100%;
}
.cmp__sticky-elem {
    position: sticky;
    top: 0px;
}



.cmp__badge-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-small);
}



.cmp__teaser {
    position: relative;
    overflow: clip;
}
.cmp__teaser > *:last-child::after {
    display: block;
    content: "";
    position: absolute;
    height: inherit;
    inset: 0;
    background: linear-gradient(
        to bottom, 
        var(--col-transparent), 
        var(--bg-color)); /* Go complete <color> at <percentage> portion of element from starting point */
}



/* ====================
    Utilities (u)
==================== */
h1, .u__h--1,
h2, .u__h--2,
h3, .u__h--3,
h4, .u__h--4,
h5, .u__h--5,
h6, .u__h--6 {
    font-weight: bold;
}
h1, .u__h--1 {
    font-size: 2rem;
}
h2, .u__h--2 {
    font-size: 1.75rem;
}
h3, .u__h--3 {
    font-size: 1.5rem;
}
h4, .u__h--4,
h5, .u__h--5,
h6, .u__h--6 {
    font-size: 1.25rem;
}



.u__dim {
    filter: opacity(80%);
}



/* ====================
    Site content based
(May contain overrides)
==================== */
.exploration {
    flex-direction: row-reverse;
    gap: var(--gap-large);
}
.exploration__entries {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium)
}
.exploration__entry {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.exploration__tools {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.exploration__entries > .cmp__list-delimiter {
    border-bottom: 0px;
    padding: var(--gap-small) 0px;
}



.specification {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--gap-large);
}
.specification__content-header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-tiny);
}
.specification__outline {
    top: var(--gap-medium);
    width: 100%;
}
.specification__outline > ul {
    width: 100%;
    font-size: 1rem;
}
.specification__outline > ul ul {
    font-size: 0.93em;
    margin-left: var(--gap-medium);
}
.specification__outline ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.specification__outline li{
    font-size: inherit;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.specification__outline a {
    line-height: 1.1rem;
    font-size: inherit;
}
.specification__outline
.specification__content,
.specification__content > *:last-child,
.specification__content > *:last-child * {
    display: flex;
    flex-direction: column;
}
.specification__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}
.specification__content > *:last-child,
.specification__content > *:last-child * {
    gap: var(--gap-medium);
}
.specification__extras {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}
.specification__extra {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}



.tag-badge-list__tag {
    padding: 2px 4px;
    border: 1px solid var(--primary-color);
    background: var(--bg-color);
    filter: none;

    transition: filter 0.25s;
}
.tag-badge-list__tag:hover {
    border: 1px solid var(--bg-color);
    transition: filter 0.25s;
    cursor: pointer;
    filter: invert(100%);
}
.tag-badge-list__tag {
    font-size: 0.75rem;
}



.serie {
    width: 100%;
    gap: var(--gap-large);
}
.serie__about {
    top: var(--gap-large);
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}
.serie__text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.serie__entries {
    padding: var(--gap-medium) 0px;
}
.serie__entries > .serie__entry {
    gap: var(--gap-medium);
    flex-direction: row-reverse;
}
.serie__entry {
    flex-wrap: wrap;
}
.serie__entry > * {
    min-width: 180px;
}
.serie__entry-text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}



.site__topbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.site__content {
    padding: 28px 0;
}
.site__nav {
    display: flex;
    gap: var(--gap-medium);
    list-style-type: none;
}
.site__nav > li {
    padding: var(--gap-small) 0px;
}
.site__nav > li > a:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor:pointer;
}
.site__extra {
    display: flex;
    flex-direction: row;
    gap: var(--gap-medium);
}
.site__theme {
    border: 1px solid var(--primary-color);
    width: 40px;
}
.site__theme > button {
    cursor: pointer;
    width: 50%;
    height: 100%;
    transform: var(--theme-button-transform);
    transition: transform 0.5s;
}



.articles__tags > ul,
.projects__tags > ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-tiny);
    list-style-type: none;

}



.projects__tags > ul > li > a:hover,
.articles__tags > ul > li > a:hover {
    text-decoration: underline;
    cursor: pointer;
}



/* Shared style*/
.exploration__entry-aside,
.specification__aside {
    display: flex;
    gap: var(--gap-tiny);
    flex-wrap: wrap;
}